[user]
	email = 4566637+leandronishijima@users.noreply.github.com
	name = Leandro Nishijima
	signingkey = 0F27E745524CD73B
[pull]
  rebase = false
[init]
  defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = /opt/homebrew/bin/gpg
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
  editor = nvim
